<!-- About Section -->
    <section class="success" id="about_me" style="background-color:#546E7A">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-about-me" >
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>I am a guy who can read and write in Morse Code. My job title says that I'm a Software Developer but when you get down from it, I'm much more than that. I'm a computers & technology enthusiast, having a keen appetite to learn and build things which is why I love my job.
                    <br/><br/>
                    Altogether, I've worked on 8 different projects and one of my Android app has 35,000+ downloads. Presently, I am a Software Developer at Teamie Services where I work closely with other developers, designers, and senior executives. In total, I have about a year of professional experience in Android development but have been building apps since fall of 2014.
                    <br/><br/>
                    Most of what I know about computers & technology is self-taught and that made me capable of going through steep learning curves very easily. The toughest thing I learned on my own was Android development. While learning that I thought about quitting a hundred times but despite the mental fatigue, I kept going with unabated enthusiasm.
                    <br/><br/>
                    I love meeting people so If you're interested in grabbing a coffee or if there's some project I can help you with, please send an email my way.</p>
                </div>
            </div>
        </div>
    </section>
