<!-- About Section -->
    <section class="success" id="about_me" style="background-color:#2196F3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="background-color:#2196F3">
                    <h2>About Me</h2>
                    <hr class="star-about-me" >
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Well, my college ID says that I'm an engineering student but when you get down from it, I'm much more than that.

I'm a computer science enthusiast, I have a keen appetite to learn about different computers. I love programming, it helped me think quite differently. I love the internet. To be honest, I think it's a parallel universe (or sort of).

I've been able to survive about 22 years on this planet at a place called "New Delhi". People here call themselves "Delhiites" and so do I. I very much believe that I can make a difference in my field of work, maybe change the world, which makes me optimistic. I'm quite weird, perhaps it's a side effect of being awesome ;)

As an engineer, I think it's my duty as well as my dream to make lives of people a bit easy and I'm looking for all kind of help in doing so.</p>
                </div>
            </div>
        </div>
    </section>
