<!-- About Section -->
    <section class="success" id="about_me" style="background-color:#F44336">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-about-me" >
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Well, my college ID says that I'm an engineering student but when you get down from it, I'm much more than that.

I'm a computer science enthusiast, I have a keen appetite to learn about different computers, how do they function, their architecture etc. I love programming, it helped me think quite differently. I love the internet. To be honest, I think it's a parallel universe (or sort of).

I've been able to survive about 23 years on this planet in a place called "New Delhi". I very much believe that I can make a difference in my field of work, maybe even make this world a better place, which makes me optimistic. I'm quite weird, perhaps it's a side effect of being awesome ;)</p>
                </div>
            </div>
        </div>
    </section>
