<!-- Contact Section -->
    <section id="contact_me">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row text-center">
                <br/>
                <p style="font-size:200%">You can email me at <a href="mailto:shahrukh.amd@gmail.com" style="color:#FF5722; text-decoration:none;">shahrukh.amd@gmail.com</a> or just a tweet at <a href="https://twitter.com/shahrukhamd" target="_blank" style="color:#2196F3; text-decoration:none;">@shahrukhamd</a></p>
                <br/>
                <p style="font-size:200%">You can get my resume from <a href="/CV.pdf" style="color:#4CAF50; text-decoration:none;" target="_blank">here</a></p>
            </div>
        </div>
    </section>
