<!-- Skills Section -->
    <section class="success" id="skills" style="background-color:#3F51B5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-skills">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                  <div class="col-lg-12 text-left"><h4>I Know best</h4></div>
                  <div class="col-lg-12 text-center">
                    <p style="font-size:200%">
                      <span class="label label-success">Object Oriented Design</span>
                      <span class="label label-success">Java</span>
                      <span class="label label-success">Android App Development</span>
                      <span class="label label-success">Android Studio</span>
                      <span class="label label-success">Android Design Patterns</span>
                    </p>
                  </div>

                  <div class="col-lg-12 text-left" style="margin-top:20px;"><h4>Know a thing or two</h4></div>
                  <div class="col-lg-12 text-center">
                    <p style="font-size:200%">
                      <span class="label label-warning">Algorithm Design</span>
                      <span class="label label-warning">Data Structures</span>
                      <span class="label label-warning">Graph Theory</span>
                      <span class="label label-warning">Git</span>
                      <span class="label label-warning">Jira</span>
                      <span class="label label-warning">Google AdMob</span>
                      <span class="label label-warning">Google/Firebase Analytics</span>
                      <span class="label label-warning">Twitter Fabric</span>
                      <span class="label label-warning">Django</span>
                      <span class="label label-warning">HTML5</span>
                      <span class="label label-warning">CSS3</span>
                      <span class="label label-warning">Bootstrap 3</span>
                      <span class="label label-warning">Python</span>
                      <span class="label label-warning">Realm.io</span>
                      <span class="label label-warning">Amazon Web Services</span>
                      <span class="label label-warning">REST API</span>
                      <span class="label label-warning">SQLite</span>
                      <span class="label label-warning">C</span>
                      <span class="label label-warning">C++</span>
                      <span class="label label-warning">XML</span>
                      <span class="label label-warning">JSON</span>
                    </p>
                  </div>

                  <div class="col-lg-12 text-left" style="margin-top:20px;"><h4>Just been exposed to</h4></div>
                  <div class="col-lg-12 text-center">
                    <p style="font-size:200%">
                      <span class="label label-default">Javascript</span>
                      <span class="label label-default">PHP</span>
                      <span class="label label-default">SQL</span>
                      <span class="label label-default">Eclipse</span>
                      <span class="label label-default">AJAX</span>
                      <span class="label label-default">Google Maps API</span>
                      <span class="label label-default">jQuery</span>
                      <span class="label label-default">Web Services</span>
                    </p>
                  </div>
                </div>
            </div>
        </div>
    </section>
