<!-- Experience Section -->
    <section class="success" id="timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="margin-bottom:20px; padding-left:40px;">
                    <h2>Timeline</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="container">
              <ul class="timeline">

                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">Engineering College - Passed</h4>
                          <h5 class="timeline-title">UPTU</h5>
                          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> June 2012</small></p>
                        </div>
                        <div class="timeline-body">
                            Passed <b>Bachelor of Technology</b> (similar to Bachelor of Engineering) with <b>computer science major</b> at <b>ITS Engineering College, Greater Noida</b> affiliated to <b>Uttar Pradesh Technical University, Lucknow</b>.
                        </div>
                    </div>
                </li>

                  <li>
                      <div class="timeline-badge"><img class="img-circle" src="img/qulp.png"/>
                      </div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                            <h4 class="timeline-title">Android Application Developer, Intern</h4>
                            <h5 class="timeline-title">Qulp Industries Pvt. Ltd.</h5>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Feb, 2016 - Mar, 2016</small></p>
                          </div>
                          <div class="timeline-body">
                              <dl>
                                <dt>Worked on the "Echo - Proximity networking" app.</dt>
                                <br/>
                                <dd> - Front end development of the android app</dd>
                                <dd> - Implemented designs for different screen activities.</dd>
                                <dd> - Refactored already implemented designs for different screens.</dd>
                                <dd> - Debugged the code for improved performance of the app.</dd>
                              </dl>
                          </div>
                      </div>
                  </li>

                  <li class="timeline-inverted">
                      <div class="timeline-badge"><img class="img-circle" src="img/parkly.png"/>
                      </div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                            <h4 class="timeline-title">Android Application Developer, Intern</h4>
                            <h5 class="timeline-title">Parkly</h5>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Sep, 2015 - Oct, 2015</small></p>
                          </div>
                          <div class="timeline-body">
                              <dl>
                                <dt>Worked on commercial parking app</dt>
                                <br/>
                                <dd> - Added the "Add Parking" and "Remove Parking" features.</dd>
                                <dd> - Implemented the complete preference criteria for the user.</dd>
                                <dd> - Developed the complete front end of the app for alpha testing.</dd>
                              </dl>
                          </div>
                      </div>
                  </li>

                  <li>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                            <h4 class="timeline-title">Engineering College - Started</h4>
                            <h5 class="timeline-title">UPTU</h5>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> June 2012</small></p>
                          </div>
                          <div class="timeline-body">
                              Started pursuing <b>Bachelor of Technology</b> (similar to Bachelor of Engineering) with <b>computer science major</b> at <b>ITS Engineering College, Greater Noida</b> affiliated to <b>Uttar Pradesh Technical University, Lucknow</b>.
                          </div>
                      </div>
                  </li>

                  <li class="timeline-inverted">
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                            <h4 class="timeline-title">Senior Secondary School</h4>
                            <h5 class="timeline-title">CBSE</h5>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> May 2011</small></p>
                          </div>
                          <div class="timeline-body">
                              Passed <b>Senior Secondary School</b> (also called <b>Senior High School</b> in some education system) from <b>National Public School, Kalindi Colony</b> affiliated to <b>Central Board of Secondary Education</b>.
                          </div>
                      </div>
                  </li>

                  <li>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                            <h4 class="timeline-title">Secondary School</h4>
                            <h5 class="timeline-title">CBSE</h5>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> May 2009</small></p>
                          </div>
                          <div class="timeline-body">
                              Passed <b>Secondary School</b> (also called <b>High School</b> in some education system) from <b>National Public School, Kalindi Colony</b> affiliated to <b>Central Board of Secondary Education</b>.
                          </div>
                      </div>
                  </li>

                  <li class="timeline-inverted">
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                            <h4 class="timeline-title">Born</h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> July 1993</small></p>
                          </div>
                      </div>
                  </li>
              </ul>
</div>
        </div>
    </section>
